@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-neutral-900 bg-stone-200 dark:text-stone-200 text-stone-900;
    min-height: 100vh;
    min-height: 100svh;
    scrollbar-width: thin;
    scrollbar-color: rgb(161 161 170 / 0.7) rgb(63 63 70 / 0.5);
    scrollbar-gutter: "stable";
  }
  ::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
  }

  ::-webkit-scrollbar-track {
    @apply dark:bg-stone-700/50;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    @apply dark:bg-stone-400/70;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply dark:bg-stone-400;
  }
}

@layer utilities {
  .highlight {
    @apply text-accent-secondary hover:text-accent-secondary-light dark:text-accent dark:hover:text-accent-light;
  }
  .hover-effect {
    @apply hover:text-accent-secondary-light dark:hover:text-accent-light;
  }
  .highlight-hover {
    @apply hover:underline underline-offset-2;
  }
  .base-container {
    @apply lg:max-w-[50%] max-w-[90%] mx-auto;
  }
  .base-bg {
    @apply dark:bg-stone-900;
  }
  .text-balance {
    text-wrap: balance;
  }
}

/* MARKDOWN CLASSES */

.yt-link {
  @apply min-w-full h-[450px] text-orange-500;
}
